{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>四川省农业信息化网站威胁监测系统</title>
    <link rel="stylesheet" href="{% static 'layui-v2.4.5/layui/css/layui.css' %}">
</head>
<body style="min-width: 1376px">

<ul class="layui-nav" lay-filter="">
    <li class="layui-nav-item "><a href="" style="margin-left: 100px; font-size: medium; font-style: revert">四川省农业信息化网站威胁监测系统</a>
    </li>
    <li class="layui-nav-item" style="float: right"><a href="/inte_list" target="_blank">威胁情报</a></li>
</ul>

<div style="padding: 20px; background-color: #F2F2F2;width: 60%; margin-top: 3%;float: left">
    <div class="layui-row layui-col-space15 ">
        <div class="layui-col-md4">
            <div class="layui-card" style="background-color: #5FB878">
                <div class="layui-card-header"><a href="/web_detail/?_id=1" style="font-style: revert" title="{{ url1 }}">{{ name1 }}</a>
                    <i class="layui-icon layui-icon-edit" style="font-size: 25px; color: black;float: right"
                       onclick="client(1)"></i>
                </div>
                <div class="layui-card-body">
                    {% if status1.safe %}
                    <i class="layui-icon layui-icon-ok-circle" style="font-size: 30px; color: #00FF00;"></i>
                    {% endif %}
                    {% if status1.danger %}
                    <i class="layui-icon layui-icon-close-fill" style="font-size: 30px; color: red;"></i>
                    {% endif %}
                    {% if status1.leak %}
                    <i class="layui-icon layui-icon-about" style="font-size: 30px; color: #FFB800;"></i>
                    {% endif %}
                    {% if status1.online %}
                    <i class="layui-icon layui-icon-link" style="font-size: 30px; color: #009E94;"></i>
                    {% endif %}
                    {% if status1.offline %}
                    <i class="layui-icon layui-icon-unlink" style="font-size: 30px; color: #FF5722;"></i>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="layui-col-md4">
            <div class="layui-card" style="background-color: #5FB878">
                <div class="layui-card-header"><a href="/web_detail/?_id=2" style="font-style: revert" title="{{ url2 }}">{{ name2 }}</a>
                    <i class="layui-icon layui-icon-edit" style="font-size: 25px; color: black;float: right"
                    onclick="client(2)"></i>
                </div>
                <div class="layui-card-body" style="background-color: #5FB878">
                    {% if status2.safe %}
                    <i class="layui-icon layui-icon-ok-circle" style="font-size: 30px; color: #00FF00;"></i>
                    {% endif %}
                    {% if status2.danger %}
                    <i class="layui-icon layui-icon-close-fill" style="font-size: 30px; color: red;"></i>
                    {% endif %}
                    {% if status2.leak %}
                    <i class="layui-icon layui-icon-about" style="font-size: 30px; color: #FFB800;"></i>
                    {% endif %}
                    {% if status2.online %}
                    <i class="layui-icon layui-icon-link" style="font-size: 30px; color: #009E94;"></i>
                    {% endif %}
                    {% if status2.offline %}
                    <i class="layui-icon layui-icon-unlink" style="font-size: 30px; color: #FF5722;"></i>
                    {% endif %}
                </div>
            </div>

        </div>
        <div class="layui-col-md4">
            <div class="layui-card" style="background-color: #5FB878">
                <div class="layui-card-header"><a href="/web_detail/?_id=3" style="font-style: revert" title="{{ url3 }}">{{ name3 }}</a>
                    <i class="layui-icon layui-icon-edit" style="font-size: 25px; color: black;float: right"
                    onclick="client(3)"></i>
                </div>
                <div class="layui-card-body">
                    {% if status3.safe %}
                    <i class="layui-icon layui-icon-ok-circle" style="font-size: 30px; color: #00FF00;"></i>
                    {% endif %}
                    {% if status3.danger %}
                    <i class="layui-icon layui-icon-close-fill" style="font-size: 30px; color: red;"></i>
                    {% endif %}
                    {% if status3.leak %}
                    <i class="layui-icon layui-icon-about" style="font-size: 30px; color: #FFB800;"></i>
                    {% endif %}
                    {% if status3.online %}
                    <i class="layui-icon layui-icon-link" style="font-size: 30px; color: #009E94;"></i>
                    {% endif %}
                    {% if status3.offline %}
                    <i class="layui-icon layui-icon-unlink" style="font-size: 30px; color: #FF5722;"></i>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md4">
                <div class="layui-card" style="background-color: #FFB800">
                    <div class="layui-card-header"><a href="/web_detail/?_id=4" style="font-style: revert" title="{{ url4 }}">{{ name4 }}</a>
                        <i class="layui-icon layui-icon-edit" style="font-size: 25px; color: black;float: right"
                        onclick="client(4)"></i>
                    </div>
                    <div class="layui-card-body">
                        {% if status4.safe %}
                        <i class="layui-icon layui-icon-ok-circle" style="font-size: 30px; color: #00FF00;"></i>
                        {% endif %}
                        {% if status4.danger %}
                        <i class="layui-icon layui-icon-close-fill" style="font-size: 30px; color: red;"></i>
                        {% endif %}
                        {% if status4.leak %}
                        <i class="layui-icon layui-icon-about" style="font-size: 30px; color: #FFB800;"></i>
                        {% endif %}
                        {% if status4.online %}
                        <i class="layui-icon layui-icon-link" style="font-size: 30px; color: #009E94;"></i>
                        {% endif %}
                        {% if status4.offline %}
                        <i class="layui-icon layui-icon-unlink" style="font-size: 30px; color: #FF5722;"></i>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="layui-col-md4">
                <div class="layui-card" style="background-color: #5FB878">
                    <div class="layui-card-header"><a href="/web_detail/?_id=5" style="font-style: revert" title="{{ url5 }}">{{ name5 }}</a>
                        <i class="layui-icon layui-icon-edit" style="font-size: 25px; color: black;float: right"
                            onclick="client(5)"></i>
                    </div>
                    <div class="layui-card-body">
                        {% if status5.safe %}
                        <i class="layui-icon layui-icon-ok-circle" style="font-size: 30px; color: #00FF00;"></i>
                        {% endif %}
                        {% if status5.danger %}
                        <i class="layui-icon layui-icon-close-fill" style="font-size: 30px; color: red;"></i>
                        {% endif %}
                        {% if status5.leak %}
                        <i class="layui-icon layui-icon-about" style="font-size: 30px; color: #FFB800;"></i>
                        {% endif %}
                        {% if status5.online %}
                        <i class="layui-icon layui-icon-link" style="font-size: 30px; color: #009E94;"></i>
                        {% endif %}
                        {% if status5.offline %}
                        <i class="layui-icon layui-icon-unlink" style="font-size: 30px; color: #FF5722;"></i>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="layui-col-md4">
                <div class="layui-card" style="background-color: #FF5722">
                    <div class="layui-card-header"><a href="/web_detail/?_id=6" style="font-style: revert" title="{{ url6 }}">{{ name6 }}</a>
                        <i class="layui-icon layui-icon-edit" style="font-size: 25px; color: black;float: right"
                            onclick="client(6)"></i>
                    </div>
                    <div class="layui-card-body">
                        {% if status6.safe %}
                        <i class="layui-icon layui-icon-ok-circle" style="font-size: 30px; color: #00FF00;"></i>
                        {% endif %}
                        {% if status6.danger %}
                        <i class="layui-icon layui-icon-close-fill" style="font-size: 30px; color: red;"></i>
                        {% endif %}
                        {% if status6.leak %}
                        <i class="layui-icon layui-icon-about" style="font-size: 30px; color: #FFB800;"></i>
                        {% endif %}
                        {% if status6.online %}
                        <i class="layui-icon layui-icon-link" style="font-size: 30px; color: #009E94;"></i>
                        {% endif %}
                        {% if status6.offline %}
                        <i class="layui-icon layui-icon-unlink" style="font-size: 30px; color: #FF5722;"></i>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md4">
                    <div class="layui-card" style="background-color: #5FB878">
                        <div class="layui-card-header"><a href="/web_detail/?_id=7" style="font-style: revert" title="{{ url7 }}">{{ name7 }}</a>
                            <i class="layui-icon layui-icon-edit" style="font-size: 25px; color: black;float: right"
                                onclick="client(7)"></i>
                        </div>
                        <div class="layui-card-body">
                            {% if status7.safe %}
                            <i class="layui-icon layui-icon-ok-circle" style="font-size: 30px; color: #00FF00;"></i>
                            {% endif %}
                            {% if status7.danger %}
                            <i class="layui-icon layui-icon-close-fill" style="font-size: 30px; color: red;"></i>
                            {% endif %}
                            {% if status7.leak %}
                            <i class="layui-icon layui-icon-about" style="font-size: 30px; color: #FFB800;"></i>
                            {% endif %}
                            {% if status7.online %}
                            <i class="layui-icon layui-icon-link" style="font-size: 30px; color: #009E94;"></i>
                            {% endif %}
                            {% if status7.offline %}
                            <i class="layui-icon layui-icon-unlink" style="font-size: 30px; color: #FF5722;"></i>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="layui-col-md4">
                    <div class="layui-card" style="background-color: #FFB800">
                        <div class="layui-card-header"><a href="/web_detail/?_id=8" style="font-style: revert" title="{{ url8 }}">{{ name8 }}</a>
                            <i class="layui-icon layui-icon-edit" style="font-size: 25px; color: black;float: right"
                                onclick="client(8)"></i>
                        </div>
                        <div class="layui-card-body">
                            {% if status8.safe %}
                            <i class="layui-icon layui-icon-ok-circle" style="font-size: 30px; color: #00FF00;"></i>
                            {% endif %}
                            {% if status8.danger %}
                            <i class="layui-icon layui-icon-close-fill" style="font-size: 30px; color: red;"></i>
                            {% endif %}
                            {% if status8.leak %}
                            <i class="layui-icon layui-icon-about" style="font-size: 30px; color: #FFB800;"></i>
                            {% endif %}
                            {% if status8.online %}
                            <i class="layui-icon layui-icon-link" style="font-size: 30px; color: #009E94;"></i>
                            {% endif %}
                            {% if status8.offline %}
                            <i class="layui-icon layui-icon-unlink" style="font-size: 30px; color: #FF5722;"></i>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="layui-col-md4">
                    <div class="layui-card" style="background-color: #FF5722">
                        <div class="layui-card-header"><a href="/web_detail/?_id=9" style="font-style: revert" title="{{ url9 }}">{{ name9 }}</a>
                            <i class="layui-icon layui-icon-edit" style="font-size: 25px; color: black;float: right"
                                onclick="client(9)"></i>
                        </div>
                        <div class="layui-card-body">
                            {% if status9.safe %}
                            <i class="layui-icon layui-icon-ok-circle" style="font-size: 30px; color: #00FF00;"></i>
                            {% endif %}
                            {% if status9.danger %}
                            <i class="layui-icon layui-icon-close-fill" style="font-size: 30px; color: red;"></i>
                            {% endif %}
                            {% if status9.leak %}
                            <i class="layui-icon layui-icon-about" style="font-size: 30px; color: #FFB800;"></i>
                            {% endif %}
                            {% if status9.online %}
                            <i class="layui-icon layui-icon-link" style="font-size: 30px; color: #009E94;"></i>
                            {% endif %}
                            {% if status9.offline %}
                            <i class="layui-icon layui-icon-unlink" style="font-size: 30px; color: #FF5722;"></i>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="padding: 20px; background-color: #F2F2F2;width: 30%; margin-top: 3%;float: left;margin-left: 1%">

    <div class="layui-row layui-col-space6">
        <div class="layui-col-md12">
          <div class="layui-card">
            <div class="layui-card-header">APT28活动在野发现</div>
            <div class="layui-card-body">
              听力测试高清版，你的听力在什么水平？ 剑网三门派详解 之 苍云 《超实用生活方式指南》 人民日报：13种被吹上天却没什么用的食物，别再当冤大头了！内容
            </div>
          </div>
        </div>
    </div>
    <div class="layui-row layui-col-space6">
        <div class="layui-col-md12">
          <div class="layui-card">
            <div class="layui-card-header">APT28活动在野发现</div>
            <div class="layui-card-body">
              听力测试高清版，你的听力在什么水平？ 剑网三门派详解 之 苍云 《超实用生活方式指南》 人民日报：13种被吹上天却没什么用的食物，别再当冤大头了！内容
            </div>
          </div>
        </div>
    </div>
    <div class="layui-row layui-col-space6">
        <div class="layui-col-md12">
          <div class="layui-card">
            <div class="layui-card-header">APT28活动在野发现</div>
            <div class="layui-card-body">
              听力测试高清版，你的听力在什么水平？ 剑网三门派详解 之 苍云 《超实用生活方式指南》 人民日报：13种被吹上天却没什么用的食物，别再当冤大头了！内容
            </div>
          </div>
        </div>
    </div>
    <a class="layui-btn layui-btn-normal" href="/article/" style="float: right;margin-top: 15px;margin-right: 10px" target="_blank">文章检索</a>

</div>



<script src="{% static 'layui-v2.4.5/layui/layui.js' %}"></script>
<script>
    //一般直接写在一个js文件中
    layui.use(['layer', 'form'], function () {
        var layer = layui.layer, form = layui.form;
    });

    client = function(_id) {
        layer.open({
            type: 2,
            title: '编辑网站',
            maxmin: true,
            shadeClose: true, //点击遮罩关闭层
            area: ['500px', '380px'],
            content: '/edit?_id='+_id
        });
    }

</script>
</body>
</html>