{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>四川省农业信息化网站威胁监测系统</title>
    <link rel="stylesheet" href="{% static 'layui-v2.4.5/layui/css/layui.css' %}">
</head>
<body style="min-width: 1376px">

<ul class="layui-nav" lay-filter="">
    <li class="layui-nav-item "><a href="" style="margin-left: 100px; font-size: medium; font-style: revert">四川省农业信息化网站威胁监测系统</a>
    </li>
    <li class="layui-nav-item" style="float: right"><a href="/inte_list" target="_blank">威胁情报</a></li>
</ul>

<div style="padding: 20px; background-color: #F2F2F2;width: 60%; margin-top: 3%">
    <div class="layui-row layui-col-space15 ">
        <div class="layui-col-md4">
            <div class="layui-card" style="background-color: #5FB878">
                <div class="layui-card-header"><a href="" style="font-style: revert" title="http://www.scagri.gov.cn/">四川省农业农村</a>
                    <i class="layui-icon layui-icon-edit" style="font-size: 25px; color: black;float: right"
                       onclick="client(1)"></i>
                </div>
                <div class="layui-card-body">
                    卡片式面板面板通常用于非白色背景色<br>
                    从而映衬出边框投影
                </div>
            </div>
        </div>
        <div class="layui-col-md4">
            <div class="layui-card" style="background-color: #5FB878">
                <div class="layui-card-header"><a href="" style="font-style: revert" title="http://www.scagri.gov.cn/">四川省农业科学院</a>
                    <i class="layui-icon layui-icon-edit" style="font-size: 25px; color: black;float: right"
                    onclick="client(2)"></i>
                </div>
                <div class="layui-card-body" style="background-color: #5FB878">
                        结合 layui 的栅格系统<br>
                        轻松实现响应式布局
                </div>
            </div>

        </div>
        <div class="layui-col-md4">
            <div class="layui-card" style="background-color: #5FB878">
                <div class="layui-card-header"><a href="" style="font-style: revert" title="http://www.scagri.gov.cn/">四川农业大学</a>
                    <i class="layui-icon layui-icon-edit" style="font-size: 25px; color: black;float: right"
                    onclick="client(3)"></i>
                </div>
                <div class="layui-card-body">
                    结合 layui 的栅格系统<br>
                    轻松实现响应式布局
                </div>
            </div>
        </div>
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md4">
                <div class="layui-card" style="background-color: #FFB800">
                    <div class="layui-card-header"><a href="" style="font-style: revert" title="http://www.scagri.gov.cn/">四川农村信息网</a>
                        <i class="layui-icon layui-icon-edit" style="font-size: 25px; color: black;float: right"
                        onclick="client(4)"></i>
                    </div>
                    <div class="layui-card-body">
                        卡片式面板面板通常用于非白色背景色<br>
                        从而映衬出边框投影
                    </div>
                </div>
            </div>
            <div class="layui-col-md4">
                <div class="layui-card" style="background-color: #5FB878">
                    <div class="layui-card-header"><a href="" style="font-style: revert" title="http://www.scagri.gov.cn/">四川农业网</a>
                        <i class="layui-icon layui-icon-edit" style="font-size: 25px; color: black;float: right"
                            onclick="client(5)"></i>
                    </div>
                    <div class="layui-card-body">
                        结合 layui 的栅格系统<br>
                        轻松实现响应式布局
                    </div>
                </div>
            </div>
            <div class="layui-col-md4">
                <div class="layui-card" style="background-color: #FF5722">
                    <div class="layui-card-header"><a href="" style="font-style: revert" title="http://www.scagri.gov.cn/">四川三农</a>
                        <i class="layui-icon layui-icon-edit" style="font-size: 25px; color: black;float: right"
                            onclick="client(6)"></i>
                    </div>
                    <div class="layui-card-body">
                        结合 layui 的栅格系统<br>
                        轻松实现响应式布局
                    </div>
                </div>
            </div>
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md4">
                    <div class="layui-card" style="background-color: #5FB878">
                        <div class="layui-card-header"><a href="" style="font-style: revert" title="http://www.scagri.gov.cn/">四川三农新闻网</a>
                            <i class="layui-icon layui-icon-edit" style="font-size: 25px; color: black;float: right"
                                onclick="client(7)"></i>
                        </div>
                        <div class="layui-card-body">
                            卡片式面板面板通常用于非白色背景色<br>
                            从而映衬出边框投影
                        </div>
                    </div>
                </div>
                <div class="layui-col-md4">
                    <div class="layui-card" style="background-color: #FFB800">
                        <div class="layui-card-header"><a href="" style="font-style: revert" title="http://www.scagri.gov.cn/">四川省农业信贷担保公司</a>
                            <i class="layui-icon layui-icon-edit" style="font-size: 25px; color: black;float: right"
                                onclick="client(8)"></i>
                        </div>
                        <div class="layui-card-body">
                            结合 layui 的栅格系统<br>
                            轻松实现响应式布局
                        </div>
                    </div>
                </div>
                <div class="layui-col-md4">
                    <div class="layui-card" style="background-color: #FF5722">
                        <div class="layui-card-header"><a href="" style="font-style: revert" title="http://www.scagri.gov.cn/">四川农机院</a>
                            <i class="layui-icon layui-icon-edit" style="font-size: 25px; color: black;float: right"
                                onclick="client(9)"></i>
                        </div>
                        <div class="layui-card-body">
                            结合 layui 的栅格系统<br>
                            轻松实现响应式布局
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="{% static 'layui-v2.4.5/layui/layui.js' %}"></script>
<script>
    //一般直接写在一个js文件中
    layui.use(['layer', 'form'], function () {
        var layer = layui.layer, form = layui.form;
    });

    client = function(_id){
        layer.open({
            type: 2,
            title: '编辑网站',
            maxmin: true,
            shadeClose: true, //点击遮罩关闭层
            area: ['500px', '380px'],
            content: '/edit'
        });
    }

</script>
</body>
</html>