<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>四川省农业信息化网站威胁监测系统</title>
    <link rel="stylesheet" href="../../static/layui-v2.4.5/layui/css/layui.css">
</head>
<body>
<h1 class="site-h1" style="margin: 20px">四川省农业农村网</h1>     <button class="layui-btn layui-btn-sm layui-btn-normal"><i class="layui-icon"></i> 删除</button>
<h3 class="site-h1" style="margin: 20px">http://www.scagri.gov.cn/</h3>
<div class="layui-tab" style="margin: 15px;">
    <ul class="layui-tab-title">
        <li class="layui-this">WHOIS</li>
        <li>IP分析</li>
        <li>威胁情报</li>
        <li>相关漏洞</li>
        <li>端口与服务</li>
        <li>网络访问记录</li>
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <blockquote class="layui-elem-quote">当前注册信息</blockquote>
            <table class="layui-table" lay-even="" lay-skin="nob">
                <colgroup>
                    <col width="300">
                    <col>
                </colgroup>
                <tbody>
                <tr>
                    <td>注册者</td>
                    <td>四川省农业厅信息中心</td>
                </tr>
                <tr>
                    <td>注册机构</td>
                    <td></td>
                </tr>
                <tr>
                    <td>邮箱</td>
                    <td>scagrizz@vip.163.com</td>
                </tr>
                <tr>
                    <td>地址</td>
                    <td></td>
                </tr>
                <tr>
                    <td>电话</td>
                    <td></td>
                </tr>
                <tr>
                    <td>注册时间</td>
                    <td>2000-07-25 00:00:00</td>
                </tr>
                <tr>
                    <td>过期时间</td>
                    <td>2019-07-25 00:00:00</td>
                </tr>
                <tr>
                    <td>更新时间</td>
                    <td></td>
                </tr>
                <tr>
                    <td>域名服务商</td>
                    <td>厦门三五互联科技有限公司</td>
                </tr>
                <tr>
                    <td>域名服务器</td>
                    <td>ns3.dns-diy.com;ns4.dns-diy.com</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="layui-tab-item">
            <blockquote class="layui-elem-quote">IP地址</blockquote>
            <table class="layui-table" lay-even="" lay-skin="nob">
                <colgroup>
                    <col width="300">
                    <col>
                </colgroup>
                <tbody>
                <tr>
                    <td>IP地址</td>
                    <td>127.64.43.68</td>
                </tr>
                <tr>
                    <td>地理位置</td>
                    <td>CN中国，四川，成都（电信）</td>
                </tr>
                <tr>
                    <td>ASN</td>
                    <td>4134（ChinaNet-backbone No.31）</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="layui-tab-item">
            <blockquote class="layui-elem-quote">威胁情报检测</blockquote>
            <table class="layui-table" lay-even="" lay-skin="nob">
                <colgroup>
                    <col width="300">
                    <col>
                </colgroup>
                <thead>
                  <tr>
                    <th>情报源</th>
                    <th>发现时间</th>
                    <th>情报类型</th>
                  </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Threatbook Labs</td>
                    <td>2018-08-30</td>
                    <td>白名单</td>
                </tr>
                <tr>
                    <td>Threatbook Labs</td>
                    <td>2018-05-02</td>
                    <td>白名单</td>
                </tr>
                <tr>
                    <td>Threatbook Labs</td>
                    <td>2017-02-30</td>
                    <td>白名单</td>
                </tr>
                </tbody>
            </table>
            <blockquote class="layui-elem-quote">相关事件</blockquote>
            <blockquote class="layui-elem-quote layui-quote-nm">
              无匹配数据
            </blockquote>
            <blockquote class="layui-elem-quote">该地址上的可疑URL</blockquote>
            <table class="layui-table" lay-even="" lay-skin="nob">
                <colgroup>
                    <col width="90%">
                    <col>
                </colgroup>
                <thead>
                  <tr>
                    <th>URL</th>
                    <th>扫描结果</th>
                  </tr>
                </thead>
                <tbody>
                <tr>
                    <td>file:///C:/Users/16006/Documents/WeChat Files/wxid_609vb0brcwsh22/Files/原型页面0213/威胁情报.html</td>
                    <td>未检出</td>
                </tr>
                <tr>
                    <td>file:///C:/Users/16006/Documents/WeChat Files/wxid_609vb0brcwsh22/Files/原型页面0213/威胁情报.html</td>
                    <td>未检出</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="layui-tab-item">
            <blockquote class="layui-elem-quote">当前存在漏洞</blockquote>
            <table class="layui-table" lay-even="" lay-skin="nob">
                <colgroup>
                    <col width="200">
                    <col width="150">
                    <col width="80">
                    <col>
                </colgroup>
                <tbody>
                <tr>
                    <td>cve-2016-66548</td>
                    <td>2018-08-30</td>
                    <td>高危</td>
                    <td>病毒在中招Windows电脑植入攻击模块conn.exe，</td>
                </tr>
                <tr>
                    <td>cve-2016-66548</td>
                    <td>2018-08-30</td>
                    <td>高危</td>
                    <td>病毒在中招Windows电脑植入攻击模块conn.exe，</td>
                </tr>
                <tr>
                    <td>cve-2016-66548</td>
                    <td>2018-08-30</td>
                    <td>高危</td>
                    <td>病毒在中招Windows电脑植入攻击模块conn.exe，</td>
                </tr>
                <tr>
                    <td>cve-2016-66548</td>
                    <td>2018-08-30</td>
                    <td>高危</td>
                    <td>病毒在中招Windows电脑植入攻击模块conn.exe，</td>
                </tr>
                <tr>
                    <td>cve-2016-66548</td>
                    <td>2018-08-30</td>
                    <td>高危</td>
                    <td>病毒在中招Windows电脑植入攻击模块conn.exe，</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="layui-tab-item">
            <blockquote class="layui-elem-quote">服务器端口信息</blockquote>
            <table class="layui-table" lay-even="" lay-skin="nob">
                <colgroup>
                    <col width="200">
                    <col width="150">
                    <col>
                </colgroup>
                <tbody>
                <tr>
                    <td>Apache-server</td>
                    <td>http</td>
                    <td>80</td>
                </tr>
                <tr>
                    <td>Apache-server</td>
                    <td>http</td>
                    <td>80</td>
                </tr>
                <tr>
                    <td>Apache-server</td>
                    <td>http</td>
                    <td>80</td>
                </tr>
                <tr>
                    <td>Apache-server</td>
                    <td>http</td>
                    <td>80</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="layui-tab-item">
            <table class="layui-table" lay-even="" lay-skin="nob">
                <colgroup>
                    <col width="150">
                    <col width="150">
                    <col width="150">
                    <col width="300">
                    <col width="100">
                    <col width="150">
                    <col>
                </colgroup>
                <thead>
                    <tr>
                    <th>时间</th>
                    <th>客户端</th>
                    <th>服务器</th>
                    <th>请求URL</th>
                    <th>方法</th>
                    <th>服务器相应状态</th>
                    <th>告警</th>
                  </tr>
                </thead>
                <tbody>
                <tr>
                    <td>2019/2/13 14:58</td>
                    <td>181.198.242.220</td>
                    <td>www.scagri.gov.cn</td>
                    <td>http://www.scagri.gov.cn/</td>
                    <td>GET</td>
                    <td>HTTP/1.1 200 OK</td>
                    <td>危险IP访问</td>
                </tr>
                <tr>
                    <td>2019/2/13 14:58</td>
                    <td>181.198.242.220</td>
                    <td>www.scagri.gov.cn</td>
                    <td>http://www.scagri.gov.cn/</td>
                    <td>GET</td>
                    <td>HTTP/1.1 200 OK</td>
                    <td>危险IP访问</td>
                </tr>
                <tr>
                    <td>2019/2/13 14:58</td>
                    <td>181.198.242.220</td>
                    <td>www.scagri.gov.cn</td>
                    <td>http://www.scagri.gov.cn/</td>
                    <td>GET</td>
                    <td>HTTP/1.1 200 OK</td>
                    <td>危险IP访问</td>
                </tr>
                <tr>
                    <td>2019/2/13 14:58</td>
                    <td>181.198.242.220</td>
                    <td>www.scagri.gov.cn</td>
                    <td>http://www.scagri.gov.cn/</td>
                    <td>GET</td>
                    <td>HTTP/1.1 200 OK</td>
                    <td>危险IP访问</td>
                </tr>
                <tr>
                    <td>2019/2/13 14:58</td>
                    <td>181.198.242.220</td>
                    <td>www.scagri.gov.cn</td>
                    <td>http://www.scagri.gov.cn/</td>
                    <td>GET</td>
                    <td>HTTP/1.1 200 OK</td>
                    <td>危险IP访问</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="../../static/layui-v2.4.5/layui/layui.js"></script>
<script>
    layui.use('element', function () {
        var $ = layui.jquery
            , element = layui.element;
    })
</script>
</body>
</html>